html {
  margin: 0;
  padding: 0;
}
body {
  font-family: Arial, Helvetica, sans-serif;
  display: grid;
  grid-template-columns: 50% 50%;
  height: 100vh;
  padding: 0;
  margin: 0;
}
.calculater-field-wrapper {
  display: flex;
  flex-direction: column;
  margin-left: 2rem;
  padding-right: 1rem;
  border-right: 1px solid gray;
}
#preliminaryResult {
  font-size: 1.5rem;
  text-align: right;
  margin-top: 5rem;
}
#input {
  font-size: 2.5rem;
  text-align: right;
  word-break: break-all;
}
.grid-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 0.2rem;
}
.grid-item {
  font-size: 2rem;
  height: 4rem;
}
.grid-item:hover {
  background-color: lightblue;
  border: none;
}
#solution-list {
  list-style-type: none;
}
.solution-scroll {
  overflow-y: auto;
  height: 100vh;
}
#solution-container {
  font-size: 1.5rem;
}
.solution-text {
  margin-left: 1rem;
  font-size: 1.5rem;
}
#solution {
  text-align: right;
  margin-right: 1rem;
  font-size: 1.7rem;
  color: rgb(70, 70, 239);
  word-break: break-all;
  font-weight: 600;
}
.solution-element {
  margin-top: 1rem;
}

.dark-mode {
  background-color: rgba(0, 0, 0, 0.868);
  color: lightgray;
}
.dark-mode-button {
  margin: 2rem auto 0 auto;
  padding: 0.75rem 1.5rem;
}

@media (max-width: 600px) {
  body {
    display: flex;
    flex-direction: column;
    height: 100%;
  }
  .calculater-field-wrapper {
    margin: 0;
    padding: 0 1rem 1rem 1rem;
    border-right: none;
    border-bottom: 1px solid gray;
  }
  #preliminaryResult {
    font-size: 1.4rem;
  }
  #input {
    font-size: 2rem;
  }
  .grid-item {
    font-size: 1rem;
    width: 100%;
  }
  #solution-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-size: 1rem;
  }
  .solution-text {
    font-size: 1.2rem;
  }
  #solution {
    width: 70%;
    margin: 0;
    margin-right: 1rem;
    font-size: 1.5rem;
  }
}

@media (max-width: 400px) {
  #solution {
    margin-right: 1rem;
    font-size: 1.2rem;
  }
  .solution-text {
    margin-left: 1rem;
    font-size: 1rem;
  }
}
